.content-container {
    font-family: Montserrat, Veranda, sans-serif;
    background-color:WhiteSmoke;
}

.page {
    max-width:1100px;
    background-color:#fff;
}

.inner {
    padding:20px;
}

h1, h2, h3 { 
    color:#666;
    margin:0px;
}

.title {
    font-size:24px;
    color:#333;
}

.summary {
    font-size:16px;
    font-weight:bold;
    color:#666;
}

hr {
    display: block;
    background: transparent;
    border:none;
    border-top: 2px solid #00b0f0; 
    margin-top:8px;
    margin-bottom:8px;
}

p {
    color:#666;
    font-size:12px;
}

.key {
    width:25px; 
    height:25px; 
    border: 2px solid #fff;
}

.keytable td {
    padding-bottom:10px;
    padding-right:10px;
    vertical-align:top;
    font-size:14px;
}
    
.column,
.columns {
    width:100%;
    float: left;
    text-align:center;
    box-sizing: border-box; 
}
    
@media (max-width: 450px) {

}

@media (min-width: 450px) and (max-width: 800px) {
  .box2 { width:50%; }
  .box3 { width:33%; }
  .box4 { width:25%; }
}

@media (min-width: 800px) and (max-width: 1080px) {
  .box2 { width:50%; }
  .box3 { width:33%; }
  .box4 { width:25%; }
}

@media (min-width: 1080px) {
  .box2 { width:50%; }
  .box3 { width:33%; }
  .box4 { width:25%; }
}


.box3 { text-align:center; }

