html, body {
    height: 100%;
}

body {
    margin:0;
    padding:0;
    font-family: Montserrat, Veranda, sans-serif;
    background-color:WhiteSmoke;
}

:root {
    --forecast-bg-color: #39aa1a; /*site colors used as variables*/
    --household-bg-color: #c20000;
    --club-bg-color: #ffb401;
    --tips-bg-color: #014656;
    --devices-bg-color: #ea510e;
}

.oembluebar {
    position: fixed;
    top: 0;
    height: 32px;
    background-color: #44b3e2;
    z-index: 99;
    width:100%;
    color:#fff;
    overflow:hidden;
}

.oembluebar-inner {
    /*margin: 0 auto;
    max-width: 1080px;*/
}

.oembluebar-item {
    display:inline-block;
    padding:7px 10px 6px 10px;
    cursor: pointer;
    text-align: center;
    float:left;
}

.oembluebar-item:hover {
    background-color:rgba(255,255,255,0.2);
}

.active {
    background-color:#209ed3;
}

.active:hover {
    background-color:#209ed3;
}

.title-wrapper {
    overflow: hidden;
    padding-top: 34px;
}

.app {
    margin: 0 auto;
    max-width: 1100px;
}

.app-inner {
    margin: 8px;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height:100%;
    margin: 0 auto -100px;
    overflow: hidden;
}

.logo-full {
    height:80px;
    padding:10px;
    float:left;
}

.logo-mobile {
    display: inline-block;
    height: 80px;
    padding: 10px;
}

.app-title {
    display: inline-block;
    height: 100px;
    padding-right: 10px;
    float:right;
    text-align:right;
    font-size:30px;
    font-weight:bold;
    color:#014655;
}

.app-title-content {
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    height: 100%;
}

.navigation {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
}

.navigation li {
    display:inline-block;
    width:25%;
    color:#fff;
    float:left;
    font-weight:bold;
    cursor:pointer;
}

.navigation li[name=forecast] div { background-color: var(--forecast-bg-color); }
.navigation li[name=household] div { background-color: var(--household-bg-color); }
.navigation li[name=club] div { background-color: var(--club-bg-color); }
.navigation li[name=tips] div { background-color: var(--tips-bg-color); }
.navigation li[name=devices] div { background-color: var(--devices-bg-color); }

.navigation li > div {
    height:50px;
    padding:5px;
    margin-right:8px;
    overflow: hidden;
}
.navigation .active { padding-bottom:13px }
.navigation li:last-child div { margin-right:0px; }

.block {
    margin-bottom:8px;
    overflow:hidden;
    transition: height linear 0.2s;
    text-align:center;
}

.block-title {
    padding:10px;
    height: 20px;
    font-weight:bold;
    text-align:left;
    color:#fff;
    cursor:pointer;
}

.block-content {
    height:100%;
    background-color:#fff;
}

.navigation li div img {
    float:left;
    height:50px;
}

.nav-text {
    padding-top:6px;
}

.footer {
    padding: 10px;
    overflow: hidden;
    color: #fff;
    background-color: #014656;
    height:60px;
}

.box2 {
    width:50%;
    float:left;
    text-align:center;
}

.box3 {
    width:33%;
    float:left;
    text-align:center;
}

.box4 {
    width:25%;
    float:left;
    text-align:center;
}

.box5 {
    width:20%;
    float:left;
    text-align:center;
}

.legend-label {
    padding-right:10px;
}

.legend-label-box {
    width:15px; height:15px;
    border: 1px solid #aaa;
    display:inline-block;
}

/*triangular wedge>>*/

.block-spacer { /*padding above wedge*/
    background-color: var(--household-bg-color);
    height: 100px;
    width: 100%;
    border-top: 8px solid #ffffff;
}

.no-padding { /*remove padding on container by adding class*/
    padding: 0;
    background-color:#fff; /*rgba(255,255,255,0.9);*/
    color:#000;
}

.triangle-wrapper {
    margin: 0;
}

.triangle-down { /*triangle wedge*/
    margin: 0;
    box-sizing: content-box;
    width: 50%;
    height: 0;
    padding-left:50%;
    padding-top: 5%;
    overflow: hidden;
}

.triangle-down-content { /*triangle wedge*/
    width: 0;
    height: 0;
    margin-left:-1000px;
    margin-top:-100px;
    border-left: 1000px solid transparent;
    border-right: 1000px solid transparent;
}

.triangle-forecast-bg {
    border-top: 100px solid #39aa1a;
}

.triangle-forecast2-bg {
    border-top: 100px solid #088400;
}

.triangle-topup-bg {
    border-top: 100px solid #005b0b;
}

.triangle-household-bg { border-top: 100px solid  var(--household-bg-color); }
.triangle-household2-bg { border-top: 100px solid #e62f31 }
.triangle-household3-bg { border-top: 100px solid #f47677 }

.triangle-club-bg {
    border-top: 100px solid  var(--club-bg-color);
}

.triangle-club2-bg {
    border-top: 100px solid #ff7900;
}

.triangle-dropdown {
    margin-top:5px;
    float:right;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #fff;
}

.triangle-pushup {
    margin-top:5px;
    float:right;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
}



.circle {
    margin: 0 auto;
	  border-radius: 50%;
	  width: 150px;
	  height: 150px;
}

.circle-inner {
	  color:#fff;
	  padding-top: 40px;
	  font-weight:bold;
}

.circle-small {
    margin: 0 auto;
	  border-radius: 50%;
	  width: 120px;
	  height: 120px;
}

.circle-small-inner {
	  color:#fff;
	  padding-top: 30px;
	  font-weight:bold;
}

.bg-hydro { background-color: #29aae3; color:#fff; }
.bg-morning { background-color: #ffb401; color:#fff; }
.bg-midday { background-color: #4dac34; color:#fff; }
.bg-evening { background-color: #e6602b; color:#fff; }
.bg-overnight { background-color: #014c2d; color:#fff; }

.bg-forecast { background-color: #39aa1a; color:#fff; }
.bg-topup { background-color: #005b0b; color:#fff; }
.bg-tips { background-color: #014656; color:#fff; }

.bg-household { background-color: var(--household-bg-color); color:#fff; }
.bg-household2 { background-color: #e62f31; color:#fff; }
.bg-household3 { background-color: #f47677; color:#fff; }

.bg-club { background-color: var(--club-bg-color); color:#fff; }
.bg-club2 { background-color: #ff7900; color:#fff; }

.hide {
    display:none;
}

.togglelang {
    float: right;
}

.bound {
    max-width:500px;
    margin: 0 auto;
}

.key {
    width:25px;
    height:25px;
    border: 3px solid #eee;
}

.keytable td {
    padding-bottom:10px;
    padding-right:10px;
    vertical-align:top;
    font-size:14px;
}

/* --------------------------------------------------------------- */

.tips-appliance img {
    height: 250px;
}

.tips-appliance {
    padding: 30px;
    display: none;
    margin-top: 0;
}

.tips-appliance figcaption {
    display: block;
    margin: auto;
    width: 400px;
}

.show-fig {
    display: block;
}

.tips-arrow-outer-wrapper {
    display: block;
    width: 400px;
    height: 50px;
    margin: 0 auto 10px;
}

.tips-leftarrow {
    float: left;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
}

.tips-rightarrow {
    float: right;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
}

.tips-directions {
    display: inline-block;
    line-height: 30px;
}

.tips-arrow-inner-wrapper {
    display: inline-block;
    width: 150px;
    padding: 10px;
    background-color: #336a77;
    cursor: pointer;
}

.tips-noshow {
    display: none;
}

.logout {
    float:right;
    font-weight:normal;
}


.visnav-block {
  float:right;
  margin-top:-10px;
  margin-right:10px;
}

.visnav-club {
  display:inline-block;
  border-left: 1px solid rgba(255,255,255,0.2);
  padding:10px;
  cursor:pointer;
  font-size:14px;
  float:left;
}

.visnav-club:hover {
  background-color:rgba(255,255,255,0.2);
}


@media (max-width: 600px) {
    .tips-appliance img {
        height: 180px;
    }
    .tips-appliance {
        padding: 30px 0 30px 0;
    }
    .tips-appliance figcaption {
        width: 265px !important;
    }
    .tips-arrow-outer-wrapper {
        width: 200px !important;
    }
    .tips-arrow-inner-wrapper {
        width: 75px !important;
    }
    .tips-directions {
        display: none !important;
    }
    .tips-rightarrow,.tips-leftarrow {
        float: none;
        margin: 0 auto;
    }
}

@media (max-width: 400px) {
    .tips-appliance figcaption {
        width: 180px !important;
    }
}

/* --------------------------------------------------------------- */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 0;
  font-size:18px;
  
  box-shadow: none;
  box-sizing: border-box; }
  
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

/* --------------------------------------------------------------- */

.btn {
    text-align:center;
    height: 38px;
    padding:6px 10px;
    color:#fff;
    background: rgb(41,171,226);
    border: 0;
    font-weight:bold;
    font-size: 18px;
}

.btn:hover {
    background: rgb(61,191,246);
    cursor:pointer;
}

/* --------------------------------------------------------------- */

@media (max-width: 650px) {
  .box2, .box3, .box4, .box5 { float:none; width:100%; margin-bottom:10px; }
  
  /*.app-title {font-size:24px}*/
  
  .logo-full {
      height:70px;
      padding:10px;
  }

  .logo-mobile {
      height:70px;
      padding:10px;
  }
}

@media (max-width: 750px) {
  .nav-text {
      display:none;
  }
  
  .navigation li > div {
      text-align:center;
  }
  
  .navigation li > div > img {
      float:none;
  }
  
  .logo-mobile { display: inline-block }
  .logo-full { display:none }
}
    
@media (min-width: 750px) {
  .logo-mobile { display:none }
  .logo-full { display:block }
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

.container-fluid { padding: 0px 10px 0px 10px; }

#footer {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-fixed-top {
    margin-left: 0px;
    margin-right: 0px;
}

.node {
    margin-bottom:10px;
    border: 1px solid #ea510e;
    color:#fff;
    text-align:left;
}

.node-info {
    height:40px;
    background-color:#ea510e;
    cursor:pointer;
    color:#fff;
}

.device-name { 
  font-weight:bold;
	float:left;
	padding:10px;
	padding-right:5px;
}

.device-description { 
  color:#eac9ba;
	float:left;
	padding-top:10px;
}

.device-key {
	float:right;
	padding:10px;
	min-width:30px;
	text-align:center;
	color:#fff;
	border-left: 1px solid #eee;
}

.device-schedule {
	float:right;
	padding:10px;
	min-width:30px;
	text-align:center;
	color:#fff;
	border-left: 1px solid #eee;
	display:none;
}

.device-configure {
	float:right;
	padding:10px;
	width:30px;
	text-align:center;
	color:#666;
	border-left: 1px solid #eee;
}

.device-key:hover {background-color:#eaeaea;}
.device-configure:hover {background-color:#eaeaea;}

.node-inputs {
    padding: 0px 5px 5px 5px;
    background-color:#ea510e;
    color:#666;
}

.node-input {
    background-color:#f0f0f0;
    border-bottom:1px solid #fff;
    border-left:2px solid #f0f0f0;
    height:41px;
}

.node-input:hover{ border-left:2px solid #44b3e2; }

.node-input .select {
    display:inline-block;
    padding-top: 10px;
    text-align:center;
}

.node-input .name {
    display:inline-block;
}

.node-input .processlist {
    display:inline-block;
    padding-top:10px;
    /*padding-left:10px;*/
}

.node-input-right {
    float:right;
}

.node-input .time {
    display:inline-block;
    width:80px;
    padding-top:10px;
    text-align:center;
}

.node-input .value {
    display:inline-block;
    padding-top:10px;
    text-align:center;
}

.node-input .configure {
    display:inline-block;
    width:40px;
    padding-top:10px;
    text-align:center;
	  cursor:pointer;
}

.ipad {
    padding-left:10px;
}

input[type="checkbox"] { margin:0px; }
#input-selection { width:80px; }
.controls { margin-bottom:10px; }
#inputs-to-delete { font-style:italic; }

#auth-check {
    padding:10px;
    background-color:#dc9696;
    margin-bottom:10px;
    font-weight:bold;
    border: 1px solid #de6464;
    color:#fff;
}

.auth-check-btn {
    float:right;
    margin-top:-2px;
}

@media (min-width: 768px) {
    .container-fluid { padding: 0px 20px 0px 20px; }
}

@media (max-width: 768px) {
    body {padding:0};
}

.node-scheduler {
    padding: 0px 5px 5px 5px;
    background-color: #ea510e;
    text-align:left;
}

.scheduler-inner {
    background-color:#fff;
    padding:10px;
    color:#ea510e;
    font-weight:bold;
}

.scheduler-inner2 {
    background-color:#f0f0f0;
    padding:20px;
}

.weekly-scheduler-day {
    display:inline-block;
    margin-right:5px;
    width:50px; 
    height:50px; 
    background-image:url("../images/day.png");
    background-size:50px;
    color:#fff;
    font-weight:bold;
    text-align:center;
    cursor:pointer;
}

.weekly-scheduler-day[val="1"] {
    background-image:url("../images/day-enabled.png");
}

.scheduler-checkbox {
    display:inline-block;
    width:50px;
    height:31px;
    background-image:url("../images/checkbox_inactive.png");
    background-size:50px;
    cursor:pointer;
    float:left;
}

.scheduler-checkbox-label {
  padding-top:7px;
  padding-left:10px;
  float:left;
}

.scheduler-checkbox[state="1"] {
    background-image:url("../images/checkbox_active.png");
}

.saved { color:#888 }

.scheduler-title {
    padding-top:5px;
    padding-bottom:10px;
}

.scheduler-startsin {
    padding:3px;
    padding-left:10px;
    padding-right:10px;
    background-color:#f29200;
    float:right;
    color:#fff;
    border-radius: 10px;
    font-size:14px;
}

.schedule-output-heading {
    background-color:#f29200;
    color:#fff;
    padding:10px;
    cursor:pointer;
}

.schedule-output-box {
    background-color:#fff;
    padding:10px;
    font-weight:normal;
}

