body {
    background-color:#eee;
    text-align:left;
    font-family: Montserrat, Veranda, sans-serif;
    padding:0;
    margin:0;
    height:100%;
}

.top-nav {
    background-color:#29abe2; 
    color: #fff; 
    text-align:left;
    
    position: fixed;
    width:100%;
    height:40px;
}

.top-nav-list {
    display:inline-block;
    background-color:#209ed3; 
    padding:12px 15px 8px 15px;
    cursor:pointer;
    float:left;
}

.top-nav-title {
    display:inline-block;
    padding:10px 15px 8px 15px;
    float:left;
}

.logout {
    float:right;
    cursor:pointer;
    padding-top:10px;
    padding-right:10px;
}

.sidenav {
  margin-top:40px;
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #333;
  position: fixed;
  overflow-y: auto;
  z-index: 1000; 
}

.sidenav_inner {
  padding-top:20px;
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding:15px;
  transition: 0.3s
  
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.appmenu {
  list-style: none;
  margin:0px;
  padding:0px;
}

.appmenu li {
}

.appmenu li:hover {
  background-color: #444;
}

#wrapper {
    margin: 0 auto;
    max-width:960px;
}

.page {
    margin-left:20px;
    margin-right:20px;
    background-color:#fff;
}

.inner {
    padding:20px;
}

h1, h2, h3 { 
    color:#666;
    margin:0px;
}

.title {
    font-size:24px;
    color:#333;
}

.summary {
    font-size:16px;
    font-weight:bold;
    color:#666;
}

hr {
    display: block;
    background: transparent;
    border:none;
    border-top: 2px solid #00b0f0; 
    margin-top:8px;
    margin-bottom:8px;
}

p {
    color:#666;
    font-size:12px;
}

.key {
    width:25px; 
    height:25px; 
    border: 2px solid #fff;
}

.keytable td {
    padding-bottom:10px;
    padding-right:10px;
    vertical-align:top;
    font-size:14px;
}
    
.column,
.columns {
    width:100%;
    float: left;
    text-align:center;
    box-sizing: border-box; 
}
    
@media (max-width: 450px) {

}

@media (min-width: 450px) and (max-width: 800px) {
  .box2 { width:50%; }
  .box3 { width:33%; }
  .box4 { width:25%; }
}

@media (min-width: 800px) and (max-width: 1080px) {
  .box2 { width:50%; }
  .box3 { width:33%; }
  .box4 { width:25%; }
}

@media (min-width: 1080px) {
  .box2 { width:50%; }
  .box3 { width:33%; }
  .box4 { width:25%; }
}


.box3 { text-align:center; }

