html, body {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: Montserrat, Veranda, sans-serif;
  background-color:WhiteSmoke;
}

:root {
  --forecast-bg-color: #39aa1a; /*site colors used as variables*/
  --household-bg-color: #c20000;
  --community-bg-color: #ffb401;
  --tips-bg-color: #014656;
}

.app {
  margin: 0 auto;
  max-width:1100px;
}

.app-inner { margin: 8px;}

.wrap {
  min-height: 100%;
  height: auto !important;
  height:100%;
  margin: 0 auto -100px;
  overflow: hidden;
}

.app-title {
  float:right;
  text-align:right;
  font-size:30px;
  font-weight:bold;
  padding:10px 10px 0px 0px;
  color:#014655;
}

.navigation {
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
}

.navigation li {
    display:inline-block;
    width:25%;
    color:#fff;
    float:left;
    font-weight:bold;
    cursor:pointer;
}

.navigation li[name=forecast] div { background-color: var(--forecast-bg-color); }
.navigation li[name=household] div { background-color: var(--household-bg-color); }
.navigation li[name=community] div { background-color: var(--community-bg-color); }
.navigation li[name=tips] div { background-color: var(--tips-bg-color); }

.navigation li > div {
    height:50px;
    padding:5px;
    margin-right:8px;
    overflow: hidden;
}
.navigation .active { padding-bottom:13px }
.navigation li:last-child div { margin-right:0px; }

.block {
  margin-bottom:8px;
  overflow:hidden;
  transition: height linear 0.2s;
  text-align:center;
}

.block-title {
    padding:10px;
    height: 20px;
    font-weight:bold;
    text-align:left;
    color:#fff;
    cursor:pointer;
}

.block-content {
    height:100%;
    background-color:#fff;
}

/*.expand { height:500px; }*/

.navigation li div img {
  float:left;
  height:50px;
}

.nav-text {
  padding-top:6px;
}

.footer {
  padding:20px;
  height: 44px;
  overflow:hidden;
  color:#fff;
  background-color:#014656;
}

.box2 {
  width:50%;
  float:left;
  text-align:center;
}

.box3 {
  width:33%;
  float:left;
  text-align:center;
}

.legend-label {
  padding-right:10px;
}

.legend-label-box {
  width:15px; height:15px;
  border: 1px solid #aaa;
  display:inline-block;
}

@media (max-width: 500px) {
  .box3 { width:100% }
}

@media (max-width: 750px) {
  .nav-text {
    display:none;
  }
  
  .navigation li > div {
    text-align:center;
  }
  
  .navigation li > div > img {
    float:none;
  }
  
  .logo-mobile { display:block }
  .logo-full { display:none }
  

}
    
@media (min-width: 750px) {
  .logo-mobile { display:none }
  .logo-full { display:block }
}

/*triangular wedge>>*/

.block-spacer { /*padding above wedge*/
  background-color: var(--household-bg-color);
  height: 100px;
  width: 100%;
  border-top: 8px solid #ffffff;
}

.no-padding { /*remove padding on container by adding class*/
  padding: 0;
  background-color:#fff; /*rgba(255,255,255,0.9);*/
  color:#000;
}

.triangle-wrapper {
  margin: 0;
}

.triangle-down { /*triangle wedge*/
  margin: 0;
  box-sizing: content-box;
  width: 50%;
  height: 0;
  padding-left:50%;
  padding-top: 5%;
  overflow: hidden;
}

.triangle-down-content { /*triangle wedge*/
  width: 0;
  height: 0;
  margin-left:-1000px;
  margin-top:-100px;
  border-left: 1000px solid transparent;
  border-right: 1000px solid transparent;
}

.triangle-forecast-bg {
  border-top: 100px solid #39aa1a;
}

.triangle-forecast2-bg {
  border-top: 100px solid #088400;
}

.triangle-topup-bg {
  border-top: 100px solid #005b0b;
}

.triangle-household-bg {
  border-top: 100px solid  var(--household-bg-color);
}

.triangle-community-bg {
  border-top: 100px solid  var(--community-bg-color);
}

.triangle-dropdown {
  margin-top:5px;
  float:right;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #fff;
}

.circle {
  margin: 0 auto;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.circle-inner {
	color:#fff;
	padding-top: 40px;
	font-weight:bold;
}

.bg-hydro { background-color: #29aae3; color:#fff; }
.bg-forecast { background-color: #39aa1a; color:#fff; }
.bg-topup { background-color: #005b0b; color:#fff; }

.bg-household { background-color: var(--household-bg-color); color:#fff; }
.bg-community { background-color: var(--community-bg-color); color:#fff; }

.hide {
    display:none;
}

