body {
  background-color: #fff;
  font-family: Montserrat, Veranda, sans-serif;
  margin:0;
  padding:0;
  text-align:center;
  color: #3b6358;
  
}

.container {
  margin: 0 auto;
  min-width:360px;
}

p {
  font-size:16px;
}

 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  width: 100%;
  min-width:360px;
  text-align: left;
  border: none;
  outline: none;
  height:64px;
  -webkit-box-shadow: 0px -3px 3px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -3px 3px 0px rgba(0,0,0,0.3);
  box-shadow: 0px -3px 3px 0px rgba(0,0,0,0.3);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover { }

/* Style the accordion panel. Note: hidden by default */
div.panel {
  height: 0;
  overflow:hidden;
  transition: height linear 0.2s;

}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
  display: block !important;
}

.tariff-block {
  padding-top:10px;
  padding-bottom:10px;
  text-align:left;
}

.tariff-time {
  font-weight:bold;
  font-size:18px;
}

.tariff-desc {
  font-weight:normal;
  font-size:12px;
}

.status {
  font-size:38px;
  font-weight:bold;
}

.title {
  padding:14px;
  font-size:22px;
}

.panel-inner {
  padding-left:14px;
  padding-right:14px;
}

/* --- Icon Bar --- */

.icon-bar {
  width: 100%;
  text-align: center;
  background-color: #ccc;
  overflow: auto;
}

.icon-bar a {
  width: 25%;
  padding: 12px 0;
  float: left;
  color: white;
  font-size: 22px;
}

.icon-bar a:hover {
  background-color: #bbb;
}

.active {
  background-color: #ddd;
}

/* --- Tables --- */

table {
  width:100%;
  border-collapse: collapse;
}

table, th, td {
  text-align:left;
  border: 1px solid #000;
  padding:6px 13px;
}

.login-box {
  text-align:center;
  /*background-color:rgb(41,171,226);*/
  border: 1px solid rgb(41,171,226);
  width:300px;
  margin: 0 auto;
  border-radius: 15px;
  padding:10px;
  color:rgb(41,171,226);
}

#logout {
  float:right;
  padding:18px;
  color:rgb(41,171,226);
}

#logout:hover {
  cursor:pointer;
}

.tipimage {
    width:70%;
}

@media (max-width: 450px) {
  .container {
    /*width: 450px;*/
    width: 100%;
  }
  
  .panel-inner {
  }

  .tipimage {
      width:58%;
  }
  
  h1 {
      font-size:26px;
  }
}
    
@media (min-width: 450px) and (max-width: 960px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .container {
    width: 960px;
  }
}
